
@font-face {
    font-family: 'eurostile_cond';
    src: url('../fonts/eurostile_condensed-regular-webfont.eot');
    src: url('../fonts/eurostile_condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurostile_condensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/eurostile_condensed-regular-webfont.woff') format('woff'),
         url('../fonts/eurostile_condensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/eurostile_condensed-regular-webfont.svg#eurostile_cond') format('svg');
    font-weight: 400;
    font-style: normal;

} 

* {
	margin:0;
	padding:0}



body {
	font-family:'eurostile_cond',sans-serif;
	font-weight:400;}
	

/*---- header  area -----*/
header {
	padding-top:20px;
	background-color:#303438;
	border-bottom:4px solid #ff4e09;}
	
header .lang-holder {
	padding-right:0;}	
	
.lang-holder > ul {
	margin:0;
	padding:0;
	list-style:none;}
	
.lang-holder > ul> li {
	float:left;
	display:block;
	margin-right:1px;}
	
.lang-holder > ul> li > a{
	display:block;
	height:24px;
	color:white;
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;}
	
.lang-holder > ul> li > a > span{
	line-height:25px;
	background-color:#5c6065;
	vertical-align:middle;
	display:inline-block;
	padding: 0px 6px;
	height:24px;
	text-align:center;}
	
.lang-holder > ul> li > a.active > span{
	background-color:#ff4e09;}
	
header .email-holder {
	padding-left:0}	

.email-holder > p {
	text-align:right;
	font-size:15px;
	line-height:15px;
	color:white;
	margin-bottom:0px;}
	
.email-holder > p:last-child {
	color:#99a2aa;}
	
.email-holder > p:last-child > a {
	color:inherit;
	text-decoration:underline;}
	
.phohe-holder {
	margin-top:5px;
	text-align:center;}	
	
.phohe-holder > * {
	line-height:35px;
	display:inline-block;}
	
	
.phohe-holder > span {
	padding-left:30px;
	background:url(../images/phone.png) left center no-repeat;
	font-size:35px;
	color:#99a2aa;}
	
/*--aside part --*/

#logo {
	text-align:center;
	margin-top:55px;
	margin-bottom:55px;}
	
.meniu-item-holder {
	margin-bottom:30px;}	
	
.meniu-item-heading > a {
	font-size:20px;
	text-transform:uppercase;
	text-decoration:none;
	color:black;
	line-height:48px;
	display:block;
	height:48px;
	border:1px solid #e1e1e1;
	border-radius:5px;
	text-align:center;	
	
	
	
	
