
@font-face {
    font-family: 'eurostile_cond';
    src: url('../fonts/eurostile_condensed-regular.eot');
    src: url('../fonts/eurostile_condensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurostile_condensed-regular.woff2') format('woff2'),
         url('../fonts/eurostile_condensed-regular.woff') format('woff'),
         url('../fonts/eurostile_condensed-regular.ttf') format('truetype'),
         url('../fonts/eurostile_condensed-regular.svg#eurostile_cond') format('svg');
    font-weight: 400;
    font-style: normal;

} 

* {
	margin:0;
	padding:0}
	
	
header > div, footer > div, #main-content-wrapper > div {
	max-width:1200px;
	margin: 0 auto;}


html {
	height:100%;}

body {
	font-family:'eurostile_cond',sans-serif;
	font-weight:400;}
	

/*---- header  area -----*/
header {
	padding-top:20px;
	padding-bottom:15px;
	background-color:#303438;
	border-bottom:4px solid #ff4e09;}
	
header .lang-holder {
	padding-right:0;}	
	
.lang-holder > ul {
	margin:0;
	padding:0;
	list-style:none;}
	
.lang-holder > ul> li {
	float:left;
	display:block;
	margin-right:1px;}
	
.lang-holder > ul> li > a{
	display:block;
	height:24px;
	color:white;
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;}
	
.lang-holder > ul> li > a > span{
	line-height:25px;
	background-color:#5c6065;
	vertical-align:middle;
	display:inline-block;
	padding: 0px 6px;
	height:24px;
	text-align:center;}
	
.lang-holder > ul> li > a.active > span{
	background-color:#ff4e09;}
	
header .email-holder {
	padding-left:0}	

.email-holder > p {
	text-align:right;
	font-size:15px;
	line-height:15px;
	color:white;
	margin-bottom:0px;}
	
.email-holder > p:last-child {
	color:#99a2aa;}
	
.email-holder > p:last-child > a {
	color:inherit;
	text-decoration:underline;}
	
.phohe-holder {
	margin-top:5px;
	text-align:center;}	
	
.phohe-holder > * {
	line-height:35px;
	display:inline-block;}
	
	
.phohe-holder > span {
	display:inline-block;
	font-size:35px;
	color:#99a2aa;}
	
.phohe-holder > span:first-child {
	transform:rotate(20deg);
	font-size:24px;
	color:#50555a;}
	
/*--aside part --*/

#logo {
	text-align:center;
	margin-top:55px;
	margin-bottom:55px;}
	
.meniu-item-holder {
	margin-bottom:30px;}	
	
.meniu-item-heading > a {
	background-color:#ff4e09;
	color:white;
	font-size:20px;
	text-transform:uppercase;
	text-decoration:none;
	line-height:48px;
	display:block;
	height:48px;
	border-radius:5px;
	text-align:center;}
		
	
.meniu-item-heading > a.collapsed {
	background-color:transparent;
	border:1px solid #e1e1e1;
	color:black;}
	
.meniu-item-body {
	color:#333333;
	margin-top:20px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:20px;}
	
	
/*--- project section ----*/
.photo-holder > .photos {
	width:100%;
	float:left;
	display:none;}
	
.photo-holder > .photos > a {
	display:block;
	width:100%;}
	
.photo-holder > .photos > a > img {
	max-width:100%;}
	
.photo-holder > .photos:first-child {
	display:block;}

.project-head {
	padding-top:10px;
	padding-bottom:10px;}	
	
.project-header {
	width:180px;
	float:left;}
	
.project-header > h4 {
	margin:0;
	font-size:23px;
	color:#ff4e09;
	display:inline-block;}
	
.project-status {
	background:url(../images/logo-complete.png) right top no-repeat;
	width:80px;
	font-size:12px;
	text-transform:uppercase;
	line-height:12px;
	color:#6e757b;
	padding-right:20px;
	text-align:left;
	float:right;}
	
.project-details {
	padding-bottom:10px;
	background:url(../images/line-proj-bg.png) bottom left no-repeat;
	margin-bottom:20px;}	
	
.project-details > p {
	margin-bottom:0px;
	font-size:15px;}
	
.project-details > p > span {
	text-align:left;
	display:inline-block;}			
		
.project-details > p >span:first-child {
	width:60px;
	color:#999999;}
	
.project-details > p >span:last-child {
	color:333333;}
	
/*---- footer ----*/
footer {
	padding-top:20px;
	padding-bottom:20px;
	background-color:#303438;
	border-top:2px solid #ff4e09;} 
	
footer p {
	text-align:center;
	color:#575b60;}
	
footer p > a {
	color:#777d84;}
	
footer p > a:hover {
	color:#777d84;
	text-decoration:underline;}
	
	
/*---- media responce part ----*/
@media (min-width: 471px) {
	.photo-holder > .photos {width:50%;}	
	.photo-holder > .photos:nth-child(2) {display:block;} 
	
		
/* Small devices (tablets, 768px and up) */
@media (min-width:768px){
	.phohe-holder { margin-top:-5px; text-align:right;}
	header .email-holder { padding-right:0;}
	.email-holder > p { text-align:left;}
	#logo {margin-top:60px; margin-bottom:60px;}
	footer p { text-align:right;}
	.project-holder {min-height:700px;}
}


/* iPad in portrait----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait){
	.project-holder {min-height:800px;}
}


@media (min-width:992px){
	.photo-holder > .photos {width:33%; display:block;}
	.project-details > p { display:block; width:33%; float:left;}
	.project-details > p > span {display:block;}
	.project-status { margin-right:5px;}
		
}

@media (min-width:1200px){
	.phohe-holder { width:245px; padding-right:25px; padding-left:0; float:right;}
	header .email-holder { width:245px; padding-right:0;padding-left:55px;}
	.project-holder {min-height:770px;}
}